body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: blueviolet;
    margin: 0 auto;
    width: 256px;
    border: 10px solid blueviolet;
    border-radius:10px ;
}
.keypad {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(60px,auto);
}
input[type="text"] {
    height: 60px;
    width: 236px;
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    font-size: 30px;
    padding: 10px;
    border: 0px;
    text-align: right;

}
button {
        cursor: pointer;
        border: none;
        margin: 5px;
        border-radius: 20px;
        color: white;
        background-color: rgb(172, 82, 255);
        font-size: 18px;
}

#zero {
    grid-column: 1/3;
    grid-row: 5;
}